In [2]:
import pandas as pd

In [3]:
similar_items = pd.read_parquet("recommendations/similar_items.parquet").set_index("item_id_1")

In [4]:
recommendations = pd.read_parquet("recommendations/recommendations.parquet")

In [24]:
recommendations[recommendations["user_id"] == 26]

,user_id,item_id,als_score,sim_score,reading_days,tracks_listened,genre_counts,cb_score,rank
11,26,61536214,NaN,0.996630,83,218,1,0.433827,1
12,26,48826179,NaN,0.993039,83,218,1,0.394402,2
13,26,34887407,NaN,0.984857,83,218,1,0.331117,3
14,26,23559960,0.083480,NaN,83,218,1,0.114855,4
15,26,21133234,0.070623,NaN,83,218,1,0.103955,5

In [25]:
similar_items.loc[26]

              score  item_id_2
item_id_1
26         1.000000         26
26         0.979908    2163978
26         0.967654   23528792
26         0.964652     560423
26         0.962457   20308275
26         0.955484   38566204
26         0.954796     560452
26         0.953221     574995
26         0.952052   33307667
26         0.949357   32720820
26         0.949211   33307670

In [28]:
similar_items.loc[33307667]

              score  item_id_2
item_id_1
33307667   1.000000   33307667
33307667   0.970080     110832
33307667   0.968075   33307668
33307667   0.966478     574997
33307667   0.964726   28379606
33307667   0.964428   33307672
33307667   0.963536   30919849
33307667   0.962929     574994
33307667   0.962672   33307663
33307667   0.958383   14252299
33307667   0.958176   33307670

In [31]:
len(set(    [110832,
    33307668,
    574997,
    28379606,
    33307672,
    30919849,
    574994,
    33307663,
    14252299,


    71010334,
    90861775,
    92097813,
    91121384,
    59248625,
    81612029,
    89121696,
    93006692,
    94374664,

    75210180,
    84861661,
    73455922,
    27272499,
    27407046,
    33213638,
    22860570,
    38663410,
    14150120]))

27

In [11]:
events_test = pd.read_parquet("intermediate_data/events_test.parquet")

In [12]:
events_test

     user_id    item_id  track_seq started_at  user_id_enc  item_id_enc
32         3   78194999         33 2022-12-20            3       915729
244        4   83375862        245 2022-12-18            4       942162
245        4   83764704        246 2022-12-18            4       943785
246        4   83858540        247 2022-12-20            4       944147
247        4   84099295        248 2022-12-21            4       945046
..       ...        ...        ...        ...          ...          ...
287  1374582   95514767        288 2022-12-29      1373220       988273
288  1374582   97220301        289 2022-12-29      1373220       992765
289  1374582   97241171        290 2022-12-29      1373220       992848
290  1374582   98542641        291 2022-12-29      1373220       995791
291  1374582  100736375        292 2022-12-30      1373220       999467

[13898646 rows x 6 columns]

In [8]:
recommendations.head(20)

,user_id,item_id,als_score,sim_score,reading_days,tracks_listened,genre_counts,cb_score,rank
0,10,41832275,NaN,0.974533,87,35,1,0.265666,1
1,10,44209075,NaN,0.966965,87,35,1,0.239245,2
2,10,43052381,0.077431,NaN,87,35,2,0.197568,3
3,10,49125069,0.076077,NaN,87,35,2,0.197458,4
4,10,45499814,0.086153,NaN,87,35,2,0.196066,5
5,10,39257277,0.080838,0.952898,87,35,1,0.189061,6
6,11,54234939,NaN,0.992041,52,94,1,0.349183,1
7,11,78022683,NaN,0.990634,52,94,1,0.315080,2
8,11,74031455,NaN,0.984650,52,94,1,0.298822,3
9,11,58723120,0.037162,NaN,52,94,2,0.138319,4
10,11,39374203,0.029952,NaN,52,94,2,0.123861,5
11,26,61536214,NaN,0.996630,83,218,1,0.433827,1
12,26,48826179,NaN,0.993039,83,218,1,0.394402,2
13,26,34887407,NaN,0.984857,83,218,1,0.331117,3
14,26,23559960,0.083480,NaN,83,218,1,0.114855,4
15,26,21133234,0.070623,NaN,83,218,1,0.103955,5
16,76,6705392,0.100196,NaN,28,90,1,0.354221,1
17,76,628320,0.074389,NaN,28,90,1,0.325271,2
18,76,25545327,NaN,0.990194,28,90,1,0.313309,3
19,76,26584994,NaN,0.983718,28,90,2,0.289571,4

In [15]:
similar_items

              score  item_id_2
item_id_1
99262      1.000000      99262
99262      0.983613   17747977
99262      0.978718     695860
99262      0.978281   20266461
99262      0.976782    2337217
...             ...        ...
94642241   0.964755   99552500
94642241   0.961888   66022588
94642241   0.961709   88722825
94642241   0.959551   99262309
94642241   0.959006   95730526

[10996645 rows x 2 columns]

In [16]:
item_id = 99262
k=10
i2i = similar_items.loc[item_id].head(k)
i2i[["item_id_2", "score"]].to_dict(orient="list")

{'item_id_2': [99262,
  17747977,
  695860,
  20266461,
  2337217,
  31895895,
  33593512,
  27731022,
  32456970,
  21853334],
 'score': [1.0000001192092896,
  0.9836127758026123,
  0.9787183403968811,
  0.9782805442810059,
  0.9767820239067078,
  0.9765217304229736,
  0.9764416813850403,
  0.9759836792945862,
  0.9757724404335022,
  0.975380539894104]}

In [36]:
class EventStore:

    def __init__(self, max_events_per_user=10):

        self.events = {}
        self.max_events_per_user = max_events_per_user

    def put(self, user_id, item_id):
        """
        Сохраняет событие
        """
        try: 
            user_events = self.events[user_id]
            self.events[user_id] = [item_id] + user_events[: self.max_events_per_user]
        except KeyError:
            self.events[user_id] = [item_id]

    def get(self, user_id, k):
        """
        Возвращает события для пользователя
        """
        try:
            user_events = self.events[user_id][:k]
            return user_events
        except KeyError:
            return []

events_store = EventStore()

In [16]:
events_store.max_events_per_user

10

In [17]:
events_store.put(10, 1)

In [18]:
events_store.events

{10: [1]}

In [19]:
events_store.put(10, 2)

In [20]:
events_store.events

{10: [2, 1]}

In [21]:
events_store.put(10, 3)

In [22]:
events_store.events

{10: [3, 2, 1]}

In [35]:
events_store.get(1, 10)

[]

In [24]:
events_store.get(1, 10)

[]

In [25]:
events_store.get(10, 1)

[3]

In [29]:
events_store.get(10, 10)

[3, 2, 1]

In [32]:
import requests

In [30]:
features_store_url = "http://127.0.0.1:8010"
events_store_url = "http://127.0.0.1:8020"

In [33]:
headers = {"Content-type": "application/json", "Accept": "text/plain"}

# получаем последнее событие пользователя
params = {"user_id": 10, "k": 10}
resp = requests.post(events_store_url + "/get", headers=headers, params=params)
events = resp.json()
events = events["events"]
events
# получаем список похожих объектов
if len(events) > 0:
    item_id = events[0]
    params = {"item_id": item_id, "k": k}
    resp = requests.post(features_store_url + "/similar_items", headers=headers, params=params)
    recs = resp.json()
    recs = recs["item_id_2"]
    recs = item_similar_items[:k]
else:
    recs = []

[3, 2, 1]

In [49]:
headers = {"Content-type": "application/json", "Accept": "text/plain"}
# получаем последнее событие пользователя
params = {"user_id": 1, "k": 10}
resp = requests.post(events_store_url + "/get", headers=headers, params=params)
events = resp.json()
events = events["events"]
events

[20266461, 695860, 17747977]

In [56]:
if len(events) > 0:
    item_id = events[0]
    params = {"item_id": item_id, "k": 10}
    resp = requests.post(features_store_url + "/similar_items", headers=headers, params=params)
    recs = resp.json()
    item_similar_items = recs["item_id_2"]
    recs = item_similar_items[:10]
    print(recs)
else:
    recs = []

[20266461, 27731022, 39368054, 31895895, 4931140, 28493791, 28132362, 99243, 21853334, 4645641]

In [3]:
import pandas as pd
import requests

In [4]:
features_store_url = "http://127.0.0.1:8010"
events_store_url = "http://127.0.0.1:8020"

In [5]:
def dedup_ids(ids):
    """
    Дедублицирует список идентификаторов, оставляя только первое вхождение
    """
    seen = set()
    ids = [id for id in ids if not (id in seen or seen.add(id))]

    return ids

In [6]:
headers = {"Content-type": "application/json", "Accept": "text/plain"}

# получаем список последних событий пользователя, возьмём три последних
params = {"user_id": 1, "k": 3}

# ваш код здесь
resp = requests.post(events_store_url + "/get", headers=headers, params=params)
events = resp.json()
events = events["events"]

# получаем список айтемов, похожих на последние три, с которыми взаимодействовал пользователь
items = []
scores = []
for item_id in events:
    # для каждого item_id получаем список похожих в item_similar_items
    # ваш код здесь
    params = {"item_id": item_id, "k": 10}
    resp = requests.post(features_store_url + "/similar_items", headers=headers, params=params)
    item_similar_items = resp.json()
    print(item_similar_items)
    print()
    
    items += item_similar_items["item_id_2"][1:10+1] # 9 штук
    scores += item_similar_items["score"][1:10+1] # 9 штук
# сортируем похожие объекты по scores в убывающем порядке
# для старта это приемлемый подход
combined = list(zip(items, scores))
combined = sorted(combined, key=lambda x: x[1], reverse=True)
combined = [item for item, _ in combined]

# удаляем дубликаты, чтобы не выдавать одинаковые рекомендации
recs = dedup_ids(combined)

{'item_id_2': [20266461, 27731022, 39368054, 31895895, 4931140, 28493791, 28132362, 99243, 21853334, 4645641], 'score': [1.0000001192092896, 0.9871935248374939, 0.9835816025733948, 0.9827108383178711, 0.9826152324676514, 0.9807316064834595, 0.9804825186729431, 0.9798195362091064, 0.9796802997589111, 0.9791824221611023]}

{'item_id_2': [695860, 4637878, 2362270, 2409848, 20900880, 822252, 695863, 31895895, 4603685, 46540862], 'score': [0.9999999403953552, 0.991718053817749, 0.9910927414894104, 0.9899545907974243, 0.9899021983146667, 0.9888713359832764, 0.9882495999336243, 0.9874317646026611, 0.9869624972343445, 0.9866055846214294]}

{'item_id_2': [17747977, 28132362, 15567496, 27731022, 2436250, 17748039, 29740963, 28132343, 32456970, 18755182], 'score': [1.0000001192092896, 0.9919703006744385, 0.9904125332832336, 0.9892425537109375, 0.9874008893966675, 0.9873653650283813, 0.9871160984039307, 0.9863548874855042, 0.9849717020988464, 0.9842503666877747]}

In [8]:
len(recs)

24

In [13]:
arr = [1,2,3]
arr += [4, 5, 6]

In [14]:
arr

[1, 2, 3, 4, 5, 6]

In [15]:
max([1, 2], [1, 2, 3], key=len)

[1, 2, 3]